body{
    background-color: antiquewhite;
    margin: auto;
    margin-top: 100px;
    font-size: 12px;
    margin-left: 50px;
    font-family: sans-serif;
}

.whole{
    position: relative;
    bottom: 40px;
}
.pozole{
    position: relative;
    bottom: 60px;
    left: 640px;
    background-color: white;
    width: 220px;
    height: 150px;
    z-index: 1;
}

h1{
    font-size: 40px;
}

div{
    padding: 15px;
}

.header{
    position: relative;
    left: 150px;
    bottom: 46px;
    font-size: 25px;
    font-weight: bold;
}

.first{
    font-size: 12px;
    position: relative;
    background-color: white;
    bottom: 240px;
    width: 340px;
    height: 150px 
}

.second{
    font-size: 12px;
    position: relative;
    background-color: white;
    left: 340px;
    bottom: 420px;
    width: 340px;
    height: 150px;
    border-right: 20px bold;
    border-color: black;
    
}

.header1{
    font-size: 2px;
}

.third{
    position: relative;
}

.prepper{
    font-size: 16px;
    position: relative;
    bottom: 50px;
}

.cooking{
    font-size: 16px;
    position: relative;
    bottom: 150px;
}

.eater{
    font-size: 16px;
    position: relative;
    bottom: 250px;
}

.bodytext{
    border-color: black;
    border: 2px solid;
    position: relative;
    bottom: 460px;
    left: 30px;
    background-color: white;
    width: 860px;
}

.lowerbody{
    position: relative;
    margin: auto;
    bottom: 150px;
}

.body2{
    position: relative;
    bottom: 40px;
}

/*.topbox{
    border-color: black;
    border: 2px solid;
    width: 860px;
    bottom: 50px;
}

.lowerbody{
    z-index: 1;
    border-color: black;
    border: 2px solid;
    width: 860p
    bottom: 300px;
    bottom: 50px;
    
}

